@model TaskModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AV Monitor</h1>
    <h2>(≧◡≦)</h2>
    <body>
        <img src="https://mobimg.b-cdn.net/v3/fetch/2c/2c38ec7c72e3d0094f591d6f735a3b8e.jpeg"
             width="400"
             height="341"></img>
    </body>
</div>
<stryle