@model TaskModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Well cum</h1>
</div>

<div>
<form method = "post" asp-controller = "Task" asp-action = "Add">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Url"></label>
    <input asp-for="Url" />
    <span asp-validation-for="Url"></span>

    <label asp-for="CronExp"></label>
    <input asp-for="CronExp" />
    <span asp-validation-for="CronExp"></span>

    <input type="submit" value="Ентер" />
</form>
</div>

<div>
<form method = "post" asp-controller = "Task" asp-action = "Delete">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <input type="submit" value="Удалить" />
</form>
</div>