@using AvMonitor.Classes
@using AvMonitor.Data
@using AvMonitor.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model TaskModel
@{
    ViewData["Title"] = "Home Page";
    var db = new DataBase(ViewData["dbContext"] as TaskDataContext);
}

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="display-4">AV Monitor</h1>
            <h2>(≧◡≦)</h2>
            <body>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-primary" href="/Home/TaskEdit">Go to Tasks</a>
                    @if (db.GetAllTasksFromUser(new UserModel(@User.Identity?.Name)).Any())
                    {
                        <a class="btn btn-primary" href="/Home/Log">Check your services status</a>
                    }
                }
            </body>
        </div>
    </div>
</div>