@model TaskModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AV Monitor</h1>
    <h2>(≧◡≦) Вот наш супер классный проект, где мы решили сделать сервис для проверки сайтов на жизнеспособность :)))) </h2>
</div>